/* CSS style per il sito personale di Massimo Dattero */

/* impostazioni generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kufam', cursive;
  color: #00004d;
}

a:link {
  text-decoration: none;
}

span {
  font-weight: bold;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

hr {
  width: 50%;
  margin: 40px auto;
}

h3 {
  padding: 10px;
}

/* navigation barr */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #00004d;
  z-index: 2;
  height: 70px;
}

#logo {
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
}

#logo a:hover {
  cursor: pointer;
}

#menu a {
  color: rgb(230, 255, 255);
  background-color: #00004d;
  display: block;
  padding: 10px 16px;
}

#menu {
  display: none;
  margin-top: -7px;
}

.tre-righe {
  color: #ffffff;
  position: absolute;
  padding: 5px 16px;
  font-size: 30px;
  right: 10px;
  top: 10px;
}

.tre-righe:hover {
  cursor: pointer;
}

#menu a:hover {
  background-color: rgb(0, 230, 230);
  color: #00004d;
}

/* pagina home */

main {
  background-image: url("immagini/background-image.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  z-index: -1;
}

.fotoMassimo {
  width: 100px;
  border-radius: 10%;
  position: absolute;
  top: 100px;
  right: 50px;
}

@keyframes nome-animazione {
	0% {top: 0px; opacity: 0%}
	100% {top: 40%; opacity: 100%}
}

.aforismi {
  position: absolute;
  width: 60%;
  animation: nome-animazione 2s forwards;
  left: 10%;
  z-index: 1
}



.aforismi p {
  color: white;
  background-color: #000066;
  padding: 5px;
}

cite {
  color: white;
}

/* sezione soft skills e hard skills */

#hard-skills {
  margin-bottom: 100px;
}

.accordion-hard {
  padding-bottom: 80px;
}

.simbolo {
  padding-right: 5px;
}

h3 {
  margin-top: 60px;
}

.hard {
  position: relative;
  top: -50px;
  left: 60%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc; 
}

.pannello {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.testo-pannello {
  padding: 10px 0;
}

.titolo-livello {
  padding-bottom: 20px;
  text-decoration: underline;
}

.titolo-livello-info {
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: underline;
}

.blocco-materia {
  display: flex;
  padding-bottom: 10px;
}

.materia {
  width: 60%;
}

.livello {
  width: 40%;
  font-size: 12px;
}

/* sezione la mia storia */

.storia {
  padding: 0 18px;
  background-color: white;
  width: 80%;
  margin: auto;
}

.contenitore-sezione-storia {
  margin-top: 10px;
}

.titolo-sezione {
  padding-top: 20px;
}

.testo-sezione {
  padding: 10px 3px;
}



/* contatti */

#contatti {
  width: 100%;
  margin: auto;
  background-color: #00004d;
  color: #ffffff;
}

.titolo-contatti {
  color: #ffffff;
}

.testo-contatti {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(230, 255, 255);
}

.bottone {
  border-radius: 2px;
  padding: 10px;
  background-color: #00004d;
  border: 1px solid #00004d;
}

.bottone a {
  color: white;
}

.bottone:hover {
  background-color: #000080;
}

.footer-blocco1 {
  padding: 20px 0 20px 0;
}

.centra {
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-blocco2 img{
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #00004d;
}

.footer-blocco2 img:hover{
  border: 2px solid white;
}

.social img{
  width: 5%;
  transition: transform .2s;
}

.footer-blocco3 {
  text-align: center;
  padding-bottom: 15px;
}

.social img:hover {
  transform: scale(1.2);
}

/* portfolio */

.navigation-portfolio {
  text-align: center;
}

.logo-portfolio {
  margin: 20px;
}

.portfolio-title {
  background-color: #00004d;
  color: rgb(0, 230, 230);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}

.box-card {
  width: 90%;
  text-align: center;
  margin: 30px auto;
  box-shadow: 10px 10px 10px #cccccc;
  border: 3px solid #cccccc;
  height: 340px;
}

.img-card {
  border: 10px solid #666666;
  border-radius: 5px;
  margin: 10px 0 1px 0;
}

.img-card:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.keyboard {
  width: 80%;
  height: 14px;
  background-color: #666666;
  margin: 1px auto;
  border-radius: 5px;
}

.site-name {
  margin: 20px 5px;
}

.description {
  margin: 10px;
  line-height: 30px;
}

/* media query for screen > 900px  */

@media screen and (min-width: 900px) {
  
  .tre-righe {
    display: none;
  }
  
  #menu {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  #menu a {
    padding-bottom: 4px;
  }
  
  .navigation {
    display: flex;
  }
  
  .main-sopra {
    height: 500px;
    width:45%;
  }
  
  .fotoMassimo {
    width: 100px;
  }
  
  .aforismi {
    width: 45%;
    margin-top: 5px;
  }
  
  main {
    display: flex;
  }
  
  .immagini-storia {
  width: 30%;
  }
  
  .materia {
  width: 30%;
  }

  .livello {
  width: 20%;
  }
  
  .contenitore-sezione-storia {
    display: flex;
  }
  
  .blocco-titolo-data {
    width: 30%;
  }
  
  .testo-sezione-storia {
    width: 70%;
    padding-top: 10px;
  }
  
  .accordion-generale {
    width: 80%;
    margin: auto;
  }
  
  .livello {
  font-size: 18px;
  }
  
  .img-container {
    justify-content: center;
  }
  .box-card {
    width: 400px;
    margin: 20px;
  }

  
}